* {
  margin: 0;
  padding: 0;
}

/* common styles */
:root {
  --container-space: 35px;
  --container-width: calc(1130px + var(--container-space) * 2);
}
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-space);
  margin: 0 auto;
  width: 100%;
}

header a:hover {
  background-color: rgb(242, 242, 242);
}

footer a:hover {
  text-decoration: underline !important;
  background-color: transparent !important;
}

.page-wrap {
  min-height: 100vh;
  background-image: url("../assets/images/smilling_people.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.logo {
  max-width: 280px;
  height: auto;
}

.logo_2 {
  max-width: 160px;
  height: auto;
}

.question-image {
  max-width: 370px;
  height: auto;
}

.question2-image {
  max-width: 300px;
  height: auto;
}

.gap-180 {
  gap: 180px;
}
